---
title: About Copy Paste Helper
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About Copy Paste Helper" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Who are we and why are we doing this?
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
We had a personal need for a repository of credible responses to false information on social media.
It was too much work to come up with something every time it was needed. Not only does this supply
a great list of those resources, but we've worked to make it as easy as possible to copy that content
for sharing in a comment or post.

We hope you find it as useful as we do.
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Who are we?</h1>
</div>

{{% blocks/feature icon="fa-user" title="Karl Wooster, EIT" %}}
Just a science-minded engineer with some basic coding skills.

Main developer and contributor.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-user" title="Matthew Johnson, DDS, MPH" %}}
An actual public health scholar. Dentist by day, husband and father the rest of the time.

Major content contributor and second set of eyes on website.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="You?" %}}
We are always looking for extra help with contributions, editing, vetting, anything.

If interested, please reach out.
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Disclaimer</h1>
<p class="text-center">
While we make a good faith effort to vet the articles and papers that are cited, we are volunteers
that support this project in our spare time. Please reference the linked documentation for any issues
or discrepencies.
</p>
</div>


{{< /blocks/section >}}
