+++
title = "Copy Paste Helper"
linkTitle = "Copy Paste Helper"

+++

{{< blocks/cover title="Welcome to Copy Paste Helper: Your Resource For Credible Sources!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/pages" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<p class="lead mt-5">Porridge temperature assessment - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
**Copy Paste Helper** is a website dedicated to collecting credible sources with useful excerpts to be copied into social media posts and comments. For those times that you *know* that someone has written a great article or paper about this topic, but you don't have the time or energy to find and format it.

Each source and excerpt has a *Copy to Clipboard* button to make it super simple to copy and paste the comment, with links, to your chosen social media platform. See [How To]({{< relref "/pages/how-to" >}}) for how to use it for each platform.
{{% /blocks/lead %}}

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-lightbulb" title="Simple To Use" %}}
**Copy Paste Helper** is designed to be as easy as possible for creating comments on as many social media platforms as we can.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/WoosterInitiative/excerptftw.com" %}}
We do a [Pull Request](https://github.com/WoosterInitiative/excerptftw.com/pulls) contributions workflow on **GitHub**. New contributors are always welcome!

If you're not comfortable with **GitHub**, use the **Submit** button on the right-hand side of every topic page.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-question" title="Why Does This Exist?" url="/about" %}}
This project was founded out of a personal desire to have good content at our fingertips. Social media has made is so easy to share content that has been served to us.

This leads to a lot of "I know I could find something to respond to this with," but if we're being honest, who's going to go find that data and present it in a compelling way.

This was our answer. Let us know what you think!
{{% /blocks/feature %}}

<!-- {{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}} -->


{{< /blocks/section >}}


<!-- {{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}} -->



<!-- {{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}} -->

<!-- {{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}} -->
